@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-card {
        height: 100%; /* Фиксированная высота для карточек */
    }
</style>

<div class="container mt-5">
    <h2 class="mb-4 text-center">Топ игры</h2>
    <div id="topGamesCarousel" class="carousel slide w-25 mx-auto" data-ride="carousel">
        <div class="carousel-inner" id="carouselInner">
            <!-- Здесь будут добавляться элементы карусели через AJAX -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#topGamesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topGamesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="text-end mt-3">
        <a href="#" class="btn btn-primary">Показать все</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Выполняем AJAX запрос для получения списка игр
        $.ajax({
            type:'GET',
            url: '@Url.Action("GetCarouselGames", "Home")',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                // Генерируем элементы карусели на основе полученных данных
                var carouselInner = $('#carouselInner');
                var isFirst = true;

                data.forEach(function (game) {
                    console.log(game);
                    var carouselItem = $('<div class="carousel-item">');
                    if (isFirst) {
                        carouselItem.addClass('active');
                        isFirst = false;
                    }

                    var gameLink = $('<a>').attr('href', '/Games/GameDetails/' + game.id);
                    var gameImage = $('<img class="d-block mx-auto img-fluid">').attr('src', game.image).attr('alt', game.name);
                    var carouselCaption = $('<div class="carousel-caption">');
                    var title = $('<h5 class="card-title">').text(game.name);
                    var price = $('<p class="card-text">').text(game.price);

                    carouselCaption.append(title);
                    carouselCaption.append(price);
                    gameLink.append(gameImage);
                    gameLink.append(carouselCaption);
                    carouselItem.append(gameLink);
                    carouselInner.append(carouselItem);
                });

            },
            error: function () {
                // Обработка ошибки, если не удалось получить данные
                console.error('Ошибка при получении списка игр.');
            }
        });
    });
</script>
