@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="body">
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">Chat</i>
    </div>

    <div class="chat-box">
        <div class="chat-box-header">
            Chat With Users
            <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs">
                <ul id="messagesList"></ul>
            </div>
        </div>
        <div class="chat-input">
          
        </div>
    </div>
</div>