<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333333;
        }

        p {
            color: #555555;
            line-height: 1.6;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Восстановление пароля</h1>
        <p>Уважаемый пользователь,</p>
        <p>Если вы забыли пароль от вашей учетной записи, не волнуйтесь! Мы готовы помочь вам восстановить доступ.</p>
        <p>Для восстановления пароля, пожалуйста, перейдите по следующей ссылке:</p>
        <p><a href="{{CONFIRMATION_LINK}}">Восстановить пароль</a></p>
        <p>Спасибо за использование нашего сервиса.</p>
        <p>С уважением, Команда поддержки</p>
    </div>
</body>
</html>
