@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
}

<form asp-action="LogOut" asp-controller="Account" method="post">
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <button type="submit" class="btn btn-secondary">Log out</button>
</form>
