.custom-card {
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s;
}

    .custom-card:hover {
        box-shadow: 0 0 10px #808080;
        border-radius : 5px;
        transform: scale(1.05);
    }
.aDiv {
    border-radius: 5px;
}

#card-row {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
    color: #000000;
}


#topGamesCarousel .carousel-inner .carousel-item {
    transition: filter 0.3s ease;
}

    /* Затемнение элемента при наведении */
    #topGamesCarousel .carousel-inner .carousel-item:hover {
        filter: brightness(40%);
    }

#topGamesCarousel {
    margin-bottom: 20px;
}

#asideTag {
    background-color: #808080;
    transition: background-color 2s, color 0.5s;
}

    #asideTag:hover {
        background-color: rgba(128, 128, 128);
        transform: scale(1.03);
    }

#asideTag ul {
    list-style: none;
    padding: 0;
}

.tags {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0);
}

    .tags:hover {
        color: rgba(25, 25, 112) !important;
    }

.neon-tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

    /* Анимация при наведении на тег */
    .neon-tag:hover {
        background-color: #8c1204;
        border-color: #4f048c;
        transition: background-color 0.3s, border-color 0.3s;
    }

/* Styles for Search input */
.cyber-search {
    background-color: transparent;
    border: 2px solid rgba(105, 105, 105);
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .cyber-search::placeholder {
        color: #666; /* Цвет текста-подсказки */
    }

    .cyber-search:focus {
        outline: none;
        border-color: rgba(0, 0, 0);
        box-shadow: 0 0 10px rgba(128, 0, 0);
    }

/* Styles for "Search" */
.cyber-search-btn {
    background-color: transparent;
    border: 2px solid rgba(105, 105, 105);
    color: rgba(255, 0, 0);
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

    .cyber-search-btn:hover {
        background-color: rgba(0, 0, 0);
        color: rgba(255, 0, 0);
        border-color: rgba(105, 105, 105);
    }


    /*Deleting standart styles for a tag*/
a {
    color: inherit;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        color: black !important;
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


/* Styles for button logout */

    form .btn-secondary {
        background-color: transparent;
        border: 2px solid #ff0000;
        color: #ff0000;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }

        form .btn-secondary:hover {
            background-color: #ff0000;
            color: #000;
            border-color: #ff0000;
        }

/*Styles for Log In dropDown*/
.dropdown .btn-secondary {
    background-color: transparent;
    border: 2px solid rgba(255, 0, 0);
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

    .dropdown .btn-secondary:hover {
        border-color: rgba(255, 0, 0);
    }

.dropdown-menu {
    background-color: #000;
    border: 2px solid transparent;
}

.dropdown-item {
    color: darkred;
}

@media screen and (max-width: 790px) {
    #asideTag {
        display: none;
    }
}