@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Вопрос";
}

<div class="text-center">
    <h1 class="display-4">
        @localizer["SignInCreateText"]
    </h1>
    <p>@localizer["PlayText"]</p>
    <p>@localizer["Log"]</p>
</div>
