@{
    ViewData["Title"] = "Подтверждение восстановления пароля";
}

<h1>@ViewData["Title"]</h1>

<p>Инструкции по восстановлению пароля были отправлены на ваш email.</p>
<p>Пожалуйста, проверьте свою почту и следуйте инструкциям для смены пароля.</p>
